<div class="container mt-5 mb-5">
     <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque molestias fuga earum ex necessitatibus veniam quidem non. Animi libero dolorem atque similique odit, vitae, fuga aut dolor numquam, voluptatem cumque.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta tempora error consequatur sint est. Voluptatibus natus blanditiis aspernatur similique nulla a nam. Debitis placeat dignissimos commodi quasi labore! Amet, placeat.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem quisquam sed rerum impedit. Minima ipsam eos, culpa veritatis inventore esse harum distinctio molestiae, quasi similique placeat eveniet? Amet, ipsam ex.
        <br/>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At alias corrupti harum esse aliquam dolore amet reiciendis molestias ipsa. Similique reiciendis iure repudiandae tempora assumenda animi, temporibus placeat? Explicabo, sed?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate officiis quasi, odio laborum nihil, voluptas atque corporis rerum eveniet, expedita esse saepe fugit iste similique numquam unde ex quidem nulla!
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit facere commodi amet vel nobis dolores fugiat esse nostrum harum ipsum nemo explicabo, impedit non. Quae vel molestiae aliquam nesciunt?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad iste voluptates corrupti explicabo impedit atque delectus dignissimos, minus fugiat iure! Officia nemo ipsum nihil laudantium illo error, nesciunt ea architecto?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi architecto illum, repellat aliquid laborum sunt ut sapiente consequatur officia modi cupiditate deserunt molestiae ducimus eius placeat? Sint nemo odit mollitia!
        <br/>

    </p>


</div>